
$breakpoint-desktop: 576px;

html {
    font-family: Verdana,Geneva,sans-serif;
}

body.background {
    background: url(img/FB.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.box {
    border-radius: 30px;
    background-color: #fff;
    padding: 30px;
}

.box.front-page {
    margin-top: 150px;
    h1 {
        text-align: center;
    }
}

.btn[data-toggle="collapse"] {
    margin-bottom: 20px;
}


#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#map-overlay {
    z-index: 1000;
    position: absolute;
    top: 25px;
    left: 15px;

    .box {
        h1 {
            margin-top: 0;
        }
    }

    .box.desktop {
        width: 15vw;
    }
}

@media (min-width: $breakpoint-desktop) {
    .desktop {display: block;}
    .mobile {display: none;}
}

@media (max-width: $breakpoint-desktop) {
    .desktop {display: none;}
    .mobile {display: block;}
}