
$breakpoint-desktop: 576px;

html {
    font-family: Verdana,Geneva,sans-serif;
}

body.background {
    background: url(img/FB.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.box {
    border-radius: 30px;
    background-color: #fff;
    padding: 30px;
}

.box.front-page {
    margin-top: 150px;
    h1 {
        text-align: center;
    }
}

.btn[data-toggle="collapse"] {
    margin-bottom: 20px;
}


#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#map-overlay {
    z-index: 1000;
    position: absolute;
    top: 25px;
    left: 15px;

    .box {
        h1 {
            margin-top: 0;
        }
    }

    .box.desktop {
        width: 15vw;
    }
}

@media (min-width: $breakpoint-desktop) {
    .desktop {display: block;}
    .mobile {display: none;}
}

@media (max-width: $breakpoint-desktop) {
    .desktop {display: none;}
    .mobile {display: block;}
}

.label {
    display: inline-block;
    background-color: rgb(255, 193, 7);
    color: #555;
    padding: 5px 15px;
    text-script: small;
    border-radius: 1000px;
    text-transform: capitalize;
    position: relative;
    top: -5px;
}


.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 249, 250);
    font-size: 18px;
    transition: background-color ease .3s;
    display: inline-block;

    &:link {
        border: none;
        text-decoration: none;
    }

    &:visited {
        border: none;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        background-color: darken(rgb(248, 249, 250), 4);
    }

    &:active {
        border: none;
        text-decoration: none;
    }
}

.btn-success {
    background-color: rgb(40, 167, 69);
    color: #fff;

    &:hover {
        background-color: darken(rgb(40, 167, 69), 4);
    }
}

.btn-danger {
    background-color: rgb(220, 53, 69);
    color: #fff;

    &:hover {
        background-color: darken(rgb(220, 53, 69), 4);
    }
}

.btn-primary {
    background-color: rgb(0, 123, 255);
    color: #fff;

    &:hover {
        background-color: darken(rgb(0, 123, 255), 4);
    }
}

.btn-info {
    background-color: rgb(23, 162, 184);
    color: #fff;

    &:hover {
        background-color: darken(rgb(23, 162, 184), 4);
    }
}

input {
    border: 2px solid lightgrey;
    background-color: rgb(250, 250, 250);
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 10px;
}

.input-small {
    width: 50px;
}

.inline {
    display: inline-block;
}